body {
    background-color: #59FE91;
}
h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-container{
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.788);
}
form{
    box-shadow: 0px 0px 15px 2px #999;
    border-radius: 20px;
}
input[type=text], input[type=password]{
    width: 100%;
    margin: 10px 0;
    padding: 12px 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
button{
    background: #379C59;
    color: #fff;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
}
button:hover {
    background-color: #42d573;
}
.img-container{
    text-align: center;
    margin: 24px 0 12px 0;
    padding: 15px 0;
}
img.avatar{
    width: 40%;
}
.container{
    padding: 16px;
}